body {
    margin: 0;
}

main {
    padding: 0 10px;
}

#location-text {
    font-weight: 700;
}

#explore-picks-link {
    display: flex;
    box-sizing: border-box;
    width: 100%; 
    margin-bottom: 1.5rem;

    color: var(--background);

    padding: 15px 10px;

    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
}

#home-main-img {
    margin-bottom: 1.5rem;
}

#meet-eve-container {
    display: flex;
    flex-direction: row;
}

#meet-eve-img {
    width: 30%;
}

#meet-eve-content {
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
    margin-bottom: 2rem;

    justify-content: space-between;
}

#meet-eve-content h2 {
    margin: 0;
}

.img-holder {
    overflow: hidden;
}

.img-holder img {
    width: 100%;
}
