body {
    margin: 0;
    font-size: var(--font-normal-size);
}

section {
    margin-bottom: 50px;
}

h3 {
    margin: 10px 0;
}

.eyebrow {
    margin: 0;
}

.confetti-section {
    margin: 0;
}
.confetti-section .header-holder {
    margin: 0 10px;
}
.confetti-section .divider {
    margin: 0 10px;
    margin-bottom: 50px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    padding: 10px 0;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    margin: 10px 0;
}
.divider p {
    font-size: 10px;
}
.divider a {
    font-weight: 700;
}

.type-title {
    display: flex;
    flex-direction: column;
}

.explore-btn-holder {
    display: flex;
    gap: 5px;
}

.explore-btn-holder a {
    display: flex;
    box-sizing: border-box;

    align-items: center;

    width: auto; 
    margin-bottom: 1.5rem;

    color: white;
    padding: 15px 10px;

    border-radius: 5px;
    cursor: pointer;
}

#explore-picks-link {
    width: 180px;
    background-color: var(--navy-btn-bg);
}

#explore-picks-link img {
    color: white;
}

#explore-picks-link:hover {
    background-color: var(--navy-btn-bg-hover);
}

#view-gallery-link {
    width: 110px;
    background-color: var(--background);

    color: var(--subtle-btn-color);
    border-bottom: 1px solid var(--subtle-btn-color);
    border-radius: 0;
}

#view-gallery-link:hover {
    background-color: var(--subtle-btn-bg-hover);
}

#pop-types-container {
    display: flex;
    flex-direction: column;
}

#meet-eve-container {
    display: flex;
    flex-direction: row;
}

#meet-eve-img {
    width: 40%;
}

#meet-eve-content {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin-left: 1rem;
    margin-bottom: 2rem;

    /* justify-content: space-between; */
}

#meet-eve-content h2 {
    margin: 0;
    margin-bottom: 1rem;
}

#meet-eve-content p {
    margin-bottom: auto;
}

#meet-eve-container-desktop {
    display: none;
}

#img-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 300px;
    gap: 5px;

    margin-top:  20px;
    overflow: hidden;
    border-radius: 5px;
}
#img-grid .img-cell {
    overflow: hidden;
}

.img-cell.small {
    grid-column: span 1;
}
.img-cell.big {
    grid-column: span 2;
}
.img-cell:last-child img {
    transform: scale(1.8);
    transform-origin: center top;
}

#img-grid .img-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0 0 0;
}
.title-price-container h2 {
    margin: 0;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.title-price-container p {
    margin: 0;
}

.pop-type {
    margin-bottom: 25px;
    transition: transform 0.3s ease;
}
.pop-type .img-holder {
    border-radius: 5px;
}
.pop-type:hover {
    transform: scale(1.05);
}

#meet-eve-section {
    display: flex;
    flex-direction: column;

    background-color: var(--pink-bg);
    padding: 20px;
    margin: 0;
}

#meet-eve-section .img-holder {
    border-radius: 50% 50% 0 0;
    height: 350px;
    transform-origin: top center;
}

#meet-eve-section .img-holder img {
    object-position: top;
}

#meet-eve-section h2 {
    margin: 10px 0;
}

.big-p {
    font-weight: 500;
    font-size: 12px;
    margin-top: 25px;
}

@media (min-width: 768px) {
    h1 {
        width: 50%;
        margin-bottom: 20px;
    }

    .confetti-section .divider {
        margin: 0 150px;
        margin-bottom: 50px;
    }
    .divider p {
        font-size: 12px;
    }

    #pop-types-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .img-holder {
        height: 350px;
    }
    #img-grid {
        height: 350px;
        margin-top: 0;
    }
    #pop-types-container .pop-type {
        flex: 1;
    }

    .type-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .type-title a {
        margin: 25px 0;
    }

    .explore-btn-holder {
        margin-bottom: 20px;
    }

    #explore-picks-link {
        width: 220px;
        margin-right: 10px;
    }

    #view-gallery-link {
        display: flex;
    }

    #meet-eve-section {
        flex-direction: row;
        padding: 80px 250px;
    }
    #meet-eve-section .img-holder {
        flex-shrink: 0;
        width: 400px;
        height: 450px;
        border-radius: 40% 40% 0 0;
        margin-right: 80px;
    }
    #meet-eve-section .meet-eve-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}