body {
    margin: 0;
    font-size: var(--font-normal-size);
}

main {
    padding: 0 10px;
}

#location-text {
    font-weight: 700;
}

.explore-btn-holder {
    display: flex;
}

.explore-btn-holder a {
    display: flex;
    box-sizing: border-box;

    align-items: center;

    width: auto; 
    margin-bottom: 1.5rem;

    color: white;
    padding: 15px 10px;

    border-radius: 10px;
    cursor: pointer;
}

#explore-picks-link {
    width: 100%;
    background-color: var(--navy-btn-bg);
}

#explore-pick-link:hover {
    background-color: var(--navy-btn-bg-hover);
}

#view-gallery-link {
    display: none;
}

#home-main-img {
    margin-bottom: 1.5rem;
}

#meet-eve-container {
    display: flex;
    flex-direction: row;
}

#meet-eve-img {
    width: 40%;
}

#meet-eve-content {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin-left: 1rem;
    margin-bottom: 2rem;

    /* justify-content: space-between; */
}

#meet-eve-content h2 {
    margin: 0;
    margin-bottom: 1rem;
}

#meet-eve-content p {
    margin-bottom: auto;
}

.img-holder {
    overflow: hidden;
}

.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#meet-eve-container-desktop {
    display: none;
}


@media (min-width: 768px) {
    main {
        padding: 0 40px;
    }

    h1 {
        width: 50%;
        font-size: 4.5rem;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 4rem;
    }

    #home-main-img {
        height: 80vh;
    }

    .explore-btn-holder {
        margin-bottom: 20px;
    }

    #explore-picks-link {
        width: 220px;
        margin-right: 10px;
    }

    #view-gallery-link {
        display: flex;
        width: 200px;
        background-color: inherit;
        border: 2px solid var(--text-muted);
        color: var(--text-muted);
    }

    #meet-eve-container {
        display: none;
    }

    #meet-eve-container-desktop {
        display: flex;
        width: calc(100%);
        padding: 20px 40px;

        margin-inline: -40px;

        background-color: var(--surface-pink);
    }

    #meet-eve-container-desktop .img-holder {
        flex-shrink: 0;
        width: 250px;
        height: 300px;

        margin-right: 40px;
    }

    #meet-eve-container-desktop .img-holder img {
        object-fit: cover;
        object-position: top;
    }

    #meet-eve-container-desktop h2, 
    #meet-eve-container-desktop a {
        margin: 0;
        margin-bottom: 20px;
    }

    #meet-eve-container-desktop p {
        margin: 0;
        margin-bottom: 80px;
    }

    #meet-eve-content-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}